.appBar{
    justify-content: start;
    align-items: flex-end;
    display: flex;
    background-color: #0F52BA;
    color: #fff;
}

.title{
    margin: 28px 0px 29px 65px;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    font-family: "Montserrat";
}

.subTitle{
    margin: 45px 0px 32px 0px;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    line-height: 19px;
}