.cartTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    width: 150px;
    height: 56px;
    margin: 36px 0px 0px 47px;
    color: #FFFFFF;
}