.cartTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    width: 180px;
    height: 56px;
    margin: 36px 0px 0px 47px;
    color: #FFFFFF;
}

.cartCloseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 38px;
    border-radius: 19px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 15px;
    background: #000000;
    color: #FFFFFF;
}