.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
    height: 34px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}