@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  margin: 0px;
  background-color: #E5E5E5;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vh;
  justify-content: space-between;
}


.cart{
  display: block;
  position: absolute;
  z-index: 0;
  right: 0;
  top: 0;
  width: 486px;
  height: 100%;
  overflow: auto; 
  background-color: #0F52BA;
  box-shadow: -5px 0px 6px rgba(0, 0, 0, 0.13)
}
